@charset "utf-8";

.AboutMe{
    width: 100%;
    margin: 0 10px 0 10px;
    position: relative;
}
.AboutTitle{
    text-align: center;
    color: #03A0B3;
    font-size: 6.333333vw;
    font-weight: 600;
    letter-spacing: 0.5em;
}
.introduce{
    position: relative;
    width: 40vw;
    height: 40vw;
}
.intr_name{
    position: absolute;
    top: 20vw;
    left: 2vw;
}
.intro_birth{
    position: absolute;
    top: 45vw;
    left: 50vw;
}
.intro_Email{
    position: absolute;
    top: 78vw;
    left: 8vw;
}
.introduce img{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.waterTxt{
    position: absolute;
    text-align: center;
    line-height: 14.5555vw;
    color: #131313;
}
.water_name{
    top: 5.5555vw;
    left: 15vw; 
}
.water_birth{
    top: 5.5555vw;
    left: 10vw; 
}
.water_Email{
    top: 5.5555vw;
    left: 9vw; 
}
.waterTxt > p:first-child{
    font-size: 3.5vw;
    border-bottom: 1px solid #555555;
}
.waterTxt > p:nth-child(2){
    font-size: 3.8vw;
    font-weight: 600;
}

@media (min-width: 768px) {
    
}

@media (min-width: 1440px){
    
}